
<!DOCTYPE html>
<html lang="en" ng-app>
  <head>
    <meta charset="utf-8">
    <title>Angular JS &middot; Paul Mölders</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">

    <script src="js/angular.js"></script>
    <script src="js/angular-resource.js"></script>
    <script src="js/app-angular.js"></script>
    
    <!-- Le styles -->
    <link href="css/xcharts.css" rel="stylesheet">
    <link href="css/bootstrap.css" rel="stylesheet">
    <style type="text/css">
      #myChart {
        width:  400px; 
        height: 200px;
      }
      #myChart > svg {
        padding:10px;
      }
    </style>
    <link href="css/bootstrap-responsive.css" rel="stylesheet">

    <!-- HTML5 shim, for IE6-8 support of HTML5 elements -->
    <!--[if lt IE 9]>
      <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
  </head>

  <body>

    <div class="container">

      <div>
        <h3>AJAX Webapp</h3>
      </div>

      <hr>

      <div>
        <h1><span class="muted">Umfrage</span> JavaScript Frameworks</h1>
        <p class="lead">Welches JavaScript Framework benutzen Sie?</p>
      </div>

      <hr>
      <div class="row-fluid" ng-controller="VoteCtrl">
        <div class="span6">
          <h3>Abstimmen 
            <div class="pull-right">
              <!-- Filter -->
              <input type="text" ng-model="search" placeholder="Filtern" class="input-medium">
            </div>
          </h3>

          <!-- Liste der Frameworks -->
          <div ng-repeat="framework in frameworks | filter:search | orderBy:'text'">
            <button class="btn" ng-click="framework.votes = framework.votes*1.0+1 ">{{framework.text}}</button> &nbsp; {{framework.votes}} Stimmen<br /><br />
          </div>
          <br />

          <!-- Hinzufügen Button & Input -->
          <button ng-hide="newchoice" ng-click="newchoice = true" ng-init="newchoice = false" class="btn btn-inverse">Sonstiges</button>
          <div ng-show="newchoice" class="input-append">
            <input ng-model="choiceName" type="text" class="input-medium" placeholder="Name"></input> &nbsp; 
            <button ng-click="addChoice()" class="btn btn-primary">Hinzufügen</button>
          </div>
          
        </div>
        <div class="span6">
          <h3>Ergebnisse</h3>
          <figure id="myChart"></figure>
        </div>
      </div>
      <hr>

      <div class="footer">
        <p>&copy; Paul M&ouml;lders 2013</p>
      </div>

    </div> <!-- /container -->

    <!-- Le javascript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->

    <script src="js/bootstrap.js"></script>
    <script src="js/d3.v3.js"></script>
    <script src="js/xcharts.js"></script>


    <script>
    var data = {
      "xScale": "ordinal",
      "yScale": "linear",
      "yMin": 0,
      "type": "bar",
      "main": [
        {
          "className": ".js",
          "data": [
            {
              "x": "jQuery",
              "y": 3
            },
            {
              "x": "Zepto",
              "y": 1
            },
            {
              "x": "Underscore",
              "y": 7
            }
          ]
        }
      ]
    };
    var myChart = new xChart('bar', data, '#myChart');
    </script>


  </body>
</html>
